/* Navbar container */
.navbar-container {
  background-color: #2a3843;
  color: white;
  display: flex;
  flex-direction: row;
}

/* Top bar styles */
.top-bar {
  background-color: #222;
  color: white;
  padding: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Navbar header styles */
.navbar-header {
  display: flex;
  align-items: center;
}

/* Logo styles */
.navbar-brand img {
  width: 50px;
  height: 50px;
  margin: 5px;
}

/* Navigation links styles */
.nav {
  display: flex;
  list-style: none;
  /* margin: 50px; */
  padding-left: 30%;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: white;
  text-decoration: transparent;
}

/* Contact number styles */
.contact-number {
  /* margin-top: 2rem; */
  font-weight: bold;
}
