
* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar {
  position: relative;
  justify-items: center;
  display: flex;
  padding: 10px 0px 0px 0px;
  /* background-color: antiquewhite; */
}

.navbar > h1 {
  padding-right: 3%;
}

.links {
  display: flex;
  position: relative;
  align-items: center;
  place-items: center;
  justify-content: center;
}

.hero {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* rotate: 0.1s; */
  /* Check video speed */
}

.content {
  position: absolute;
  padding-top: 0%;
  padding-bottom: 25%;
  width: 100%;
  height: 100%;
  top: 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100;
  background-color: rgba(0,0,0,.4);
  /* background-color: #000000cc; */
}

.main-description {
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blue;
}

.content-description {
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  background-color: aliceblue;
}

.next-destination {
  align-content: center;
  justify-items: center;
  padding-left: 15px;
}

.form {
  justify-content: center;
  display: flex;
}

.country-hero-img {
  display: flex;
  /* padding: 0%, 20%, 0%, 20%; */
  padding-left: 15ex;
  /* justify-content: center; */
  /* justify-items: center; */
  /* align-items: center; */
  /* image-orientation: from-image; */
}