@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  /* font-family: "Lato", arial, sans-serif; */
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

/* body {
  background-color: antiquewhite !important;
} */

.top-bar {
  background-color: #2a3843;
  border-top: 3px solid #1cbbb4;
  height: 50px;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.head-title {
  float: left;
  border-right: 1px solid #ebebeb;
  margin-right: 20px;
  color: white;
}
.contact-number {
  float: right;
  color: white;
  font-weight: 700;
  /* font-family: "Lato", arial, sans-serif; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  float: right;
  display: block;
  /* justify-items: center; */
  /* display: flex; */
  padding: 0;
  margin: 0;

}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.navbar > h1 {
  padding-right: 3%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  height: 25px;
  padding-right: 20px;
  list-style-type: none;
}

.navbar li {
  display: flex;
  padding-left: 20px;
}

.navbar-logo {
  display: inline-block;
}

.links > li  {
  /* display: block; */
  color: #2a3843;
  cursor: pointer;
  /* #1890ff */
  /* display: flex;
  position: relative;
  align-items: center;
  place-items: center;
  justify-content: center; */
}

.links > li {
  padding-left: 20px;
}

.hero {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* rotate: 0.1s; */
  /* Check video speed */
}

.content {
  position: absolute;
  padding-top: 0%;
  padding-bottom: 25%;
  width: 100%;
  height: 160%;
  top: 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}

.overlay {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  /* background-color: #000000cc; */
}

.main-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4890ff;
}

.main-description > p {
  padding-top: 40px;
  padding-bottom: 15px;
  font-weight: 700;
}

.content-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 10%;
  padding-right: 10%;
  background-color: aliceblue;
}

.country-cards {
  height: 500px;
}

.destination-cards {
  /* height: 690px; */
}

.next-destination {
  align-content: center;
  justify-items: center;
  padding-left: 15px;
}

.country-title {
  align-content: center;
  justify-items: center;
  padding-left: 29px;
}

.form {
  justify-content: center;
  display: flex;
}

.country-hero-img {
  display: flex;
  /* padding: 0%, 20%, 0%, 20%; */
  padding-left: 15ex;
  /* justify-content: center; */
  /* justify-items: center; */
  /* align-items: center; */
  /* image-orientation: from-image; */
}

